html { overflow: -moz-scrollbars-vertical; }


body {
	margin: 20px 0px 0px 0px;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3C3D3F;
    text-align: center;
    width:600px;
    margin:auto;
}

#georesult{
    float:left;
    width:300px;
}

#content
{
width: 800px;
margin: auto;
text-align: left;
}

.example{
    float:left;
    clear:both;
}

.container{
    border: solid black 2px;
    margin-right:25px;
    width:150px;
    height:150px;
    float:left;
}

.container img{
    height:150px;
}

#fileUploader span{
    float:left;
    margin: 65px 0px 0px 25px;
}

canvas{
    border: solid black 2px;
    float: left;
}

button{
    float:right;
    margin:10px;
}

.form_element{
    width:300px;
    margin-bottom:20px;
}


textarea{
    height:100px;
}

#hiddenCanvas{
   display: none;

}

#displayCanvas{
    background-image: url("https://www.utsc.utoronto.ca/principal/sites/utsc.utoronto.ca.principal/files/styles/full-page-image/public/images/IC_building_exterior.jpg?itok=KUxuLw5e");
    background-size: 100% auto;
    /* background-position: left -20px;*/
}