<head>
<meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="{{ site.data.people.instructor.name }}">
    <meta name="description" content="{{ site.data.main.title }}">
	<title>{{site.data.main.ref}} {{site.data.main.title}}</title>
	<link rel="stylesheet" type="text/css" href={{"/static/css/style.css" | absolute_url }} />
	<link rel="stylesheet" type="text/css" href={{"/static/css/print.css" | absolute_url }} media="print"/>
    <script src={{"/static/bower_components/jquery/dist/jquery.js" | absolute_url}}></script>
    <script src={{"/static/bower_components/bootstrap/dist/js/bootstrap.min.js" | absolute_url }}></script>
    <script src={{"/static/bower_components/moment/min/moment.min.js" | absolute_url }} type="text/javascript"></script>
    <script src={{"/static/bower_components/FeedEk/js/FeedEk.js" | absolute_url }}></script>
    <script src={{"/static/js/script.js" | absolute_url }}></script>
</head>