<head>
<meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="{{ site.data.people.instructor.name }}">
    <meta name="description" content="{{ site.data.main.title }}">
	<title>{{site.data.main.ref}} {{site.data.main.title}}</title>
	<script src="/static/bower_components/jquery/dist/jquery.js"></script>
	<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet/less" type="text/css" href="/static/css/style.less"/>
	<link rel="stylesheet/less" type="text/css" href="/static/css/print.less" media="print"/>
	<script src="/static/bower_components/less/dist/less.min.js" type="text/javascript"></script>
	<script src="/static/bower_components/moment/min/moment.min.js" type="text/javascript"></script>
	<script src="/static/bower_components/FeedEk/js/FeedEk.js"></script>
	<script src="/static/js/script.js"></script>
</head>