<!-- inc/header.ejs -->
<head>
    <meta charset="utf-8"/>
    <title>ToDo</title>
    <link href="style/main.css" rel="stylesheet" type="text/css"/>
    <link href="style/form.css" rel="stylesheet" type="text/css"/>
</head>

