h3{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

/* ***** */

p{
    text-align: justify;
}

/* ***** */

a:hover{
    font-size: 200%;
}

/* ***** */

ul{
 list-style:square;
}

/* ***** */

.emphasize{
    font-weight: bold;
    font-style: italic;
}

/* ***** */

#page{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#page .component{
    margin: 2px;
    padding: 2px;
    border: 1px solid black; 
}

#page #head, #foot{
    grid-column: 1 / span 2;
}

/* ***** */

#logo{
    max-width:100%;
}

/* ***** */

.home{
    display: block;
    background-image: url("../media/home.png");   
    width: 64px;
    height: 64px; 
    cursor: pointer; /* optional */
}

/* ***** */

form .form_component{
    margin-bottom: 10px;
}

form label {
  display: inline-block;
  width: 70px;
  text-align: left;
}

form input, textarea {
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #999;
}

form textarea {
  vertical-align: top;
  height: 5em;
}

form .button {
  margin-left: 3px;
  padding-left: 70px; /* same size as the label elements */
}
