<!-- inc/header.ejs -->
<head>
    <meta charset="utf-8"/>
    <title>Microblog</title>
    <link href="css/form.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>