html {overflow: -moz-scrollbars-vertical;}

body {
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3C3D3F;
    text-align: left;
    max-width: 800px;
    margin: auto;
}

form{
    margin-top:20px;
    border-radius: 10px;
    border: 2px #3C3D3F solid;
    padding:20px 10px 10px 10px;
    display:flex;
    flex-direction: column;
}

textarea, input{
     margin-bottom:10px;
     font-size: 20px;
     border-radius:10px;
     padding:5px 10px 5px 10px;
}

input[type=submit]{
    border-radius:10px;
    text-align:center;
    font-size: 20px;
    color: #3C3D3F;
    background: #ffffff;
    border: 2px #3C3D3F solid;
    padding: 10px 20px 10px 20px;
}

input[type=submit]:hover {
  background: #3C3D3F;
  color: #ffffff;
}

#messages{
    display:flex;
    flex-direction: column; 
}

.message{
    display: flex;
    margin-top:10px;
    height: 50px;
    align-items: center;
}

.author{
    align-items: center;
    font-weight: bold;
}

.author::after {
    content: " said: "
}

.content{
    padding-left:20px;
}

.icon{
    width:50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:75%;

}

.delete-icon{
    background-image: url('../media/delete-icon.png');
}

.upvote-icon{
    margin-left: auto;
    background-image: url('../media/upvote-icon.png');
}

.downvote-icon{
    background-image: url('../media/downvote-icon.png');
}