<!-- index.ejs -->
<!DOCTYPE html>
<html>
    <%- include('inc/header'); %>
<body>
    <header>
        <h1 id="title">Microblog</h1>
        <button class="btn header_btn" id="toggle_button">Toggle</button>
    </header>
    
    <form class="complex_form" id="username_form">
      <div class="form_title">Enter your name</div>
      <input type="text" class="form_element" placeholder="Enter your name" id="username_input"></textarea>
    </form>
    
    <form class="complex_form" id="message_form">
      <div class="form_title">Post a message</div>
      <textarea rows="5" class="form_element" placeholder="Enter your message" id="content_input"></textarea>
      <input type="submit" class="btn"/>
    </form>
    
    <div id="messages">
        <ul>
            <% messages.forEach(function(message){%>
                <li><span class="username"><%= message.username %></span><%= message.content %></li>
            <% }); %>
            <!--li><span class="username">Thierry</span>Welcome to C09</li-->
        </ul>
    </div>
    <script src="js/frontAPI.js"></script>
    <script src="js/script.js"></script>
</body>
</html>