<!-- index.ejs -->
<!DOCTYPE html>
<html>
    <%- include('inc/header'); %>
<body>
    <header>
        <a href="/" id="title">ToDo</a>
        <a href="/signup.html" id="signup" class="btn header_btn hidden">Sign up</a>
        <a href="/signout/" id="signout" class="btn header_btn hidden">Sign out</a>
    </header>
    
    <form id="signin" class="complex_form hidden" method="POST" action="signin">
      <input type="text" name="username" class="form_element" placeholder="Enter a username" required/>
      <input type="password" name="password" class="form_element" placeholder="Enter a password" required/>
      <button type="submit" class="btn">Sign In</button>
    </form>
    
    <form id="add_item" class="complex_form hidden">
      <input id="content_form" type="text" class="form_element" placeholder="Enter your ToDo item" name="item" required/>
    </form>
    
    <div id="items">
            <% items.forEach(function(item){%>
                <div class="item" id="<%= item._id %>">
                    <div class="item_content">From <span class="owner"><%= item.owner %></span>: <%= item.content %></div>
                    <div class="delete-icon icon"></div>
                </div>
            <% }); %>
    </div>
    <footer>
        <a href='/credits.html'>credits</a>
    </footer>
    <script src="js/api.js"></script>
    <script src="js/index.js"></script>
</body>
</html>